{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


<div class="flex w-full h-screen items-center justify-center">

<form method="post" class="bg-white rounded-lg border-2 px-10 pt-6 pb-8  mb-2 shadow-lg hover:shadow-xl duration-500">
    
    <!--Logo-img-->
    <img src="{{ asset('images/ChitChat-logo-7.png') }}" alt="ChitChat-logo" class="block ml-auto mr-auto">
    <!--Line-->
    <hr class=" m-3">
    <!--Error lines-->
    {% if error %}
        <div class=" w-full text-center p-1 rounded text-red-900 font-bold bg-red-400 my-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <!--E-mail-->
    <label for="inputEmail" class=" block my-2">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" 
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
    autocomplete="email" required autofocus>

    <!--Password-->
    <label for="inputPassword" class=" block my-2">Password</label>
    <input type="password" name="password" id="inputPassword" 
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="my-4">
        <button class="w-full cursor-pointer rounded p-1 bg-slate-600 duration-500 hover:bg-slate-500 font-bold text-white" type="submit">
            Confirm
        </button>
    </div>

    <p>Don't have account: <a href="{{path('app_register')}}" class="text-slate-600 hover:underline font-bold">register here</a></p>

    </form>

      
    
        

</div>

{% endblock %}
