{% extends 'base.html.twig' %}


{% block title %}ChitChat{% endblock %}

{% block body %}
    <!--***LOG IN***-->
    {% if app.user %}
        <div class="bg-slate-600 p-2">
            <b class=" text-white text-xl pl-4">
                {{ app.user.firstname }}
                {{ app.user.lastname }}
            </b>
            <a href="/{{ app.user ? 'logout' : 'login' }}" class=" float-right text-xl text-white font-semibold mx-10 hover:text-red-200 duration-500">
                {{ app.user ? 'Logout' : 'Login' }}
            </a>
        </div>
        <div id="app"></div>
    {% else %}

    <!--***LOG OUT***-->
    <img src="{{ asset('images/logo3.png') }}" alt="ChitChat-logo" class=" m-auto block h-96">

    <!--<p class=" text-4xl text-center">Simple Chat app</p>-->

    <div class="text-center">
        <a href="/{{ app.user ? 'logout' : 'login' }}" class=" text-2xl font-semibold mx-10 hover:text-3xl duration-500">
            {{ app.user ? 'Logout' : 'Login' }}
        </a>
        
        <a href="{{path('app_register')}}" class=" text-2xl font-semibold mx-10 hover:text-3xl duration-500">Register</a>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
