{% extends 'base.html.twig' %}

{% block title %}ChitChat{% endblock %}

{% block body %}

     <header class="w-full h-16 drop-shadow-xl bg-slate-600">
        <div class="container px-4 md:px-0 h-full mx-auto flex justify-between items-center">

            <!-- Logo -->
            <p class=" text-white">#Chitchat Logo</p>

    
            <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-slate-600 z-50
                md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">

                <li class="md:hidden z-90 fixed top-4 right-6">
                    <a href="javascript:void(0)" class="text-right text-white text-4xl"
                        onclick="toggleMenu()">&times;</a>
                </li>

                <li>
                    <a href="/{{ app.user ? 'logout' : 'login' }}" class=" text-center text-white text-xl hover:text-slate-200 duration-500 ">{{ app.user ? 'Logout' : 'Login' }}</a>
                </li>
            </ul>

            <!-- This is used to open the menu on mobile devices -->
            <div class="flex items-center md:hidden">
                <button class="text-white text-4xl font-bold opacity-70 hover:opacity-100 duration-300"
                    onclick="toggleMenu()">
                    &#9776;
                </button>
            </div>

    </header>
    <script src="{{ asset('build/menu.js') }}"></script>

    {% if app.user %}
    <!--log in function-->
        <p>Welcome: <b>{{ app.user.Firstname }}</b> <b>{{ app.user.Lastname}}</b></p>
    {% else %}
    <!--Log out-->
    <h1 class=" text-center text-3xl m-5">Welcome!</h1>
    <p class=" text-center font-bold">You are not log in!</p>
    {% endif %}
    

    <!--***LOGIN SITE***-->
    

{% endblock %}
