{% extends 'base.html.twig' %}


{% block title %}ChitChat{% endblock %}

{% block body %}
    {% if app.user %}
    <!--Log In-->
        <div id="app"></div>
    {% else %}
    <!--Log out-->

    <img src="{{ asset('images/logo3.png') }}" alt="ChitChat-logo" class=" m-auto block h-96">

    <!--<p class=" text-4xl text-center">Simple Chat app</p>-->

    <div class="text-center">
        <a href="/{{ app.user ? 'logout' : 'login' }}" class=" text-2xl font-semibold mx-10 hover:text-3xl duration-500">
            {{ app.user ? 'Logout' : 'Login' }}
        </a>
        
        <a href="{{path('app_register')}}" class=" text-2xl font-semibold mx-10 hover:text-3xl duration-500">Register</a>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
