{% extends 'base.html.twig' %}


{% block title %}ChitChat{% endblock %}

{% block body %}

    <header class="w-full h-16 drop-shadow-xl bg-slate-700">
        <div class=" h-full flex items-center">
            
            <!--Select option logo-->            
            {% if app.user %}
            <p class=" text-white font-semibold mx-4">{{ app.user.Firstname }} {{ app.user.Lastname}}</p>
            {% else %}
            <p class=" text-white font-semibold mx-4">unregistered</p>
            {% endif %}   

            <img src="{{ asset('images/user.png') }}" alt="User-img" class="h-8">
            <a href="/{{ app.user ? 'logout' : 'login' }}" class=" text-center text-white text-xl hover:text-slate-200 duration-500 mx-6 ml-auto">{{ app.user ? 'Logout' : 'Login' }}</a>

         </div>       
    </header>

    <div id="app"></div>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
